.customCursor {
  position: fixed;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 150, 0.015) 0%,
    rgba(255, 255, 150, 0.0145) 5%,
    rgba(255, 255, 150, 0.01425) 7.5%,
    rgba(255, 255, 150, 0.012) 10%,
    rgba(255, 255, 150, 0.0115) 12.5%,
    rgba(255, 255, 150, 0.011) 15%,
    rgba(255, 255, 150, 0.0105) 17.5%,
    rgba(255, 255, 150, 0.01) 20%,
    rgba(255, 255, 150, 0.005) 35%,
    rgba(255, 255, 150, 0.0025) 40%,
    rgba(255, 255, 150, 0.001) 42.5%,
    rgba(255, 255, 150, 0.0005) 47.5%,
    rgba(255, 255, 150, 0.00025) 50%,
    rgba(255, 255, 150, 0.00001) 55%,
    rgba(255, 255, 150, 0.000005) 57.5%,
    rgba(255, 255, 150, 0) 60%
  );
  pointer-events: none;
  mix-blend-mode: screen;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
}
